<!DOCTYPE html>

<html>

<head>
<%
=begin %>  
  <title><%= full_title(yield(:title)) %></title>
  The line above was used for Chapter 4 to REMOVE page-specific titles by defining full_title and page_title
<%
=end %>
  <title><%= full_title(yield(:page_title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
                                            "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
<%
=begin %> 
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  The section above was used before the use of partials (render partial _shim.html.erb)
<%
=end %>

</head>


<body>
  <%= render 'layouts/header' %>

<%
=begin %> 
	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  The section above was used before the use of partials (render partial _header.html.erb)
<%
=end %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

</body>

</html>